# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mpp\pcir2589--VSS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
